nav {
    background: #2F2F2F;
    padding: 30px 0;
}
nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    color: white;
    gap: 40px;
}
.logo {
   width: 80px; 
}
nav ul li {
    opacity: 0.6;
    transition: 0.3s;
}
nav ul li:hover {
    opacity: 1;
}